{{#additionalViewTop}}
    <div class="modal-text-additional-view-container"></div>
{{/additionalViewTop}}

{{#escapeHtml}}
{{#paragraph}}
{{#blocks}}
<p{{#paragraphCssClass}} class="{{paragraphCssClass}}"{{/paragraphCssClass}}>{{.}}</p>
{{/blocks}}
{{/paragraph}}
{{#list}}
<ul{{#listCssClass}} class="{{listCssClass}}"{{/listCssClass}}>
{{#blocks}}
    <li{{#listItemCssClass}} class="{{listItemCssClass}}"{{/listItemCssClass}}>{{.}}</li>
{{/blocks}}
</ul>
{{/list}}
{{/escapeHtml}}

{{^escapeHtml}}
{{#paragraph}}
    {{#blocks}}
        <p{{#paragraphCssClass}} class="{{paragraphCssClass}}"{{/paragraphCssClass}}>{{{.}}}</p>
    {{/blocks}}
{{/paragraph}}

{{#list}}
    <ul{{#listCssClass}} class="{{listCssClass}}"{{/listCssClass}}>
        {{#blocks}}
            <li{{#listItemCssClass}} class="{{listItemCssClass}}"{{/listItemCssClass}}>{{{.}}}</li>
        {{/blocks}}
    </ul>
{{/list}}
{{/escapeHtml}}

{{#additionalViewBottom}}
<div class="modal-text-additional-view-container"></div>
{{/additionalViewBottom}}